.accordionItem{
    float:left;
    display:block;
    width:100%;    
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}

.accordionItemHeading{
    cursor:pointer;
    margin:0px 0px 10px 0px;
    padding:10px;
    background:#ff66cc;
    color:#000;
    width:100%;
    border-radius: 3px;
    box-sizing: border-box;
}

.close .accordionItemContent{
    height:0px;
    -webkit-transition:height 1s ease-out;
    transition:height 1s ease-out;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    float:left;
    display:block;
}

.open .accordionItemContent{
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    margin: 0px 0px 10px 0px;
    display:block;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    box-sizing: border-box;
    text-align: justify;
}

.open .accordionItemHeading{
    margin:0px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #66ff33;
    color: #000;
}



/* ACCORDION CONTAINER */

.accordion-container{
	width:80%;
	margin:5%;
	padding:5%;
	background-color: #ffffff;
}



.accordion-container p{
	margin:10px 0;
	text-align: justify;
}